/*
Name: StarWarsIntro.css
URI: polarnotion.github.io/starwarsintro
Author: Polar Notion
Author URI: http://polarnotion.com/
Description: A simple CSS library for creating a Star Wars Intro Crawl. May the Force be with you.
Version: 1.0
*/

body,
html {
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  background-color: #000;
  color: #ebd71c;
}

.star-wars-intro {
  background: url("stars-bg.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ebd71c;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.star-wars-intro p.intro-text {
  position: relative;
  max-width: 16em;
  font-size: 200%;
  font-weight: 400;
  margin: 20% auto;
  color: #4ee;
  opacity: 0;
  z-index: 1;
  text-align: center;
  -webkit-animation: intro 6s ease-out;
  -moz-animation: intro 6s ease-out;
  -ms-animation: intro 6s ease-out;
  -o-animation: intro 6s ease-out;
  animation: intro 6s ease-out;
}

.star-wars-intro .main-content {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 3;
  width: 98%;
  height: 50em;
  bottom: 0;
  font-size: 5rem;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(350px) rotateX(25deg);
}

.star-wars-intro .fade {
  position: absolute;
  width: 100%;
  min-height: 80vh;
  top: -20%;
  z-index: 4;
  background: linear-gradient(0deg, transparent, black 75%);
  animation: fade 200s ease-out;
  opacity: 0;
}

.star-wars-intro .space-button {
  color: #ebd71c;
  border: 12px solid #ebd71c;
  padding: 20px;
  background: transparent;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.star-wars-intro .space-button:hover {
  background-color: #d2be03;
  border-color: #d2be03;
  color: black;
}

.star-wars-intro .space-button:active,
.star-wars-intro .space-button:focus {
  background-color: #b8a40a;
  border-color: #b8a40a;
  color: black;
}

.star-wars-intro .title-content {
  position: absolute;
  top: 100%;
  animation: scroll 270s linear 14s forwards;
}

.star-wars-intro .title-content > .content-header {
  text-align: center;
}

.star-wars-intro .title-content > .episode-title {
  font-size: 8rem;
  text-transform: uppercase;
  margin-top: 4rem;
}

/* Main Image Styles */

.star-wars-intro .main-logo {
  position: absolute;
  width: 100%;
  top: 0vh;
  font-size: 10em;
  text-align: center;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  color: #000;
  text-shadow:
    -2px -2px 0 #ebd71c,
    2px -2px 0 #ebd71c,
    -2px 2px 0 #ebd71c,
    2px 2px 0 #ebd71c;
  opacity: 0;
  z-index: 1;
  margin-top: -8%;
  -webkit-animation: logo 12s ease-out 6s;
  -moz-animation: logo 12s ease-out 6s;
  -ms-animation: logo 12s ease-out 6s;
  -o-animation: logo 12s ease-out 6s;
  animation: logo 12s ease-out 6s;
}

.star-wars-intro .main-logo > img {
  width: 100%;
}

@-webkit-keyframes intro {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes intro {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes intro {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes intro {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes intro {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.03);
    opacity: 0;
  }
}

@-moz-keyframes logo {
  0% {
    -moz-transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.03);
    opacity: 0;
  }
}

@-ms-keyframes logo {
  0% {
    -ms-transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -ms-transform: scale(0.03);
    opacity: 0;
  }
}

@-o-keyframes logo {
  0% {
    -o-transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -o-transform: scale(0.03);
    opacity: 0;
  }
}

@keyframes logo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.03);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
