button {
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background: linear-gradient(to bottom, #111111 5%, #111111 100%);
  background-color: #000;
  border-radius: 15px;
  border: 2px solid #ebd71c;
  display: inline-block;
  cursor: pointer;
  color: #ebd71c;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 15px 19px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
button:hover {
  background: linear-gradient(to bottom, #1c1b18 5%, #1c1b18 100%);
  background-color: #000;
}
button:active {
  position: relative;
  top: 1px;
}
