.card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  background-color: #ebd71c;
  max-width: 20%;
  min-height: 40vh;
  max-height: 80vh;
  overflow-y: auto;
  color: black;
  margin-left: 2rem;
  margin-top: 2rem;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5);
}

.card-inner {
  padding-left: 0.5rem;
  text-align: center;
}

.card-inner ul {
  text-align: left;
}
